<div class="container-page">
    <div class="container-main">
        <div class="body left" width="30%">
            <div class="info">
                <br /><br /><br /><br />Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se a necessidade de renovação processual aponta para a melhoria das posturas dos órgãos dirigentes com relação às suas atribuições.<br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
            
            <div class="center"></div>
        <div class="body righ" width="60%">
            <div class="info">
                <br /><br /><br /><br />Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se a necessidade de renovação processual aponta para a melhoria das posturas dos órgãos dirigentes com relação às suas atribuições.<br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>



