.toolbar-main{
    background-color: #1b1d21;
    color: #fff;
    font-size: 0.9rem;
    margin-top: 3rem;
    bottom: 0;
    position: relative;
}

.direitos{
    font-size: 0.7rem;
    width: 100%;
    text-align: right;
}